$color-panel: #ffdcc6;
$color-background: #ffa870;
$color-primary: #f46524;
$color-dark: #9b3d00;

$color-button: white;
$color-button-border: white;
$color-button-text: black;

$panel-border-radius: 0px 0px;

$shadow-panel: 0px 14px 0px -8px rgba(0,0,0,0.22);
$shadow-button: 0px 7px 0px -4px rgba(0,0,0,0.35);
