@import '_mixins.scss';
@import '_variables.scss';

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: $color-background;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-flow:column;
    padding:0;
    margin:0;
    overflow:hidden;
    transition: all 0.2s;
}

footer{

}


.navbar {
    background-color: $color-primary;
    border:none;
}

.navbar-inverse .navbar-nav > li > a 
{
    color: $color-panel;
}
.navbar-inverse .navbar-brand
{
    color: $color-panel;
}
.navbar-brand {
    font-family: 'Baloo', cursive;
    padding-left: 40px;
    vertical-align: middle;
}
@media (min-width: 768px){
    .navbar > .container .navbar-brand {
        margin-left: 0;
    }
}
.navbar-header{
    position:absolute;
}
/*Set svg-logo to be behind brand name and always in the top left corner*/
.navbar-header>svg {
    position: absolute;
    vertical-align: middle;
    padding: 5px; /*Svg might be wrong but the top gets cut off with no padding*/
    height: 50px;
    z-index: -1;
    fill: $color-dark;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle>.icon-bar{
    display:none;
}
.navbar-toggle>.menu-text{
    font-weight: normal;
    color: $color-button;
}
.navbar-inverse .navbar-toggle {
    margin-top:5px;
    margin-bottom: 5px;
    border-color: $color-button;
}
.navbar-toggle:hover, .navbar-toggle:focus{
    background-color: $color-primary !important;
}

.panel-group .panel {
/*Simple boxshadow for extra skeuomorphism*/
    @include box-shadow($shadow-panel);

    background-image: none;
    background-color: $color-panel;
    border-radius: $panel-border-radius;

}

.panel-collapse{
    padding:0;
}
.panel-collapse-content {
    padding: 15px;
}

.panel-group{
    padding: 10px 15px;
}

.panel-default {
    border-color: none;

    .panel-heading {
        background-color: $color-panel;
    }
}

.panel button {
    border-radius: $panel-border-radius;
    @include box-shadow($shadow-button);
}

.btn-primary {
  color: $color-button-text;
  background-color: $color-button;
  border-color: $color-button-border;
}

.btn-primary.disabled,
.btn-primary[disabled] {
    color: $color-button-text;
  background-color: $color-button;
  border-color: $color-button-border;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: $color-button-text;
  background-color: $color-button;
  border-color: $color-button-border;
}

.btn-active, .btn:active {
    @include box-shadow(none);
}

/*
    ***
    *** Dropdownbox Component
    ***
*/
.navmenu-brand:focus{
    background-color:transparent;
}
.right-nav {
    background-color:#cacaca;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:150px;
    z-index: 1;
    transition: all 0.2s;
}

.right-nav-show {
    transform: translateX(-150px);
}

.right-nav-hide {
    transform: translateX(150px);
}

.body-content-push {
    transform: translateX(-150px);
}

.body-content-unpush {
    transform: translateX(0px);
}

.body-container{
    display:flex;
    flex-flow:row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.2s;
}
.router-outlet{
    padding-left:15px;
    padding-right:15px;
    transition: all 0.2s;
}

@media (min-width: 0) { // small devices
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }

    .navbar {
        display: block;
    }
}

@media (min-width: 768px) { // medium and bigger
    body {
        padding: 0;
    }
    .navbar {
        display: none;
    }

}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.path {
  stroke-dasharray: 590;
  stroke-dashoffset:590;
  
  animation: 0.5s ease-in-out 0s infinite alternate dash;
}

@keyframes dash {
	
  to {
    stroke-dashoffset: 0;
  }
}
