/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

body {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 20px;
  background-color: #ffa870; }

/* Set padding to keep content from hitting the edges */
.body-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  transition: all 0.2s; }

.router-outlet {
  overflow-x: hidden; }

#myNavmenu {
  overflow-x: hidden;
  overflow-y: scroll; }

.navbar {
  background-color: #f46524;
  border: none; }

.navbar-nav > li > a {
  color: #ffdcc6; }

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: rgba(238, 238, 238, 0); }

.navbar-inverse .navbar-brand {
  color: #ffdcc6; }

.navbar-brand {
  font-family: 'Baloo', cursive;
  padding-left: 40px;
  vertical-align: middle; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0; } }

.navbar-brand > a:focus {
  background-color: transparent; }

.navbar-header {
  position: absolute; }

/*Set svg-logo to be behind brand name and always in the top left corner*/
.navbar-header > svg {
  position: absolute;
  vertical-align: middle;
  padding: 5px;
  /*Svg might be wrong but the top gets cut off with no padding*/
  height: 50px;
  z-index: -1;
  fill: #9b3d00; }

.navbar-inverse {
  border: none; }

.navbar-toggle > .icon-bar {
  display: none; }

.navbar-toggle > .menu-text {
  font-weight: normal;
  color: white; }

.navbar-inverse .navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: white; }

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #f46524 !important; }

.panel-group .panel {
  /*Simple boxshadow for extra skeuomorphism*/
  -webkit-box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 14px 0px -8px rgba(0, 0, 0, 0.22);
  background-image: none;
  background-color: #ffdcc6;
  border-radius: 0px 0px; }

.panel-collapse {
  padding: 0; }

.panel-collapse-content {
  padding: 15px; }

.panel-group {
  padding: 10px 15px; }

.panel-default {
  border-color: none; }
  .panel-default .panel-heading {
    background-color: #ffdcc6; }

.panel button {
  border-radius: 0px 0px;
  -webkit-box-shadow: 0px 7px 0px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 7px 0px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 7px 0px -4px rgba(0, 0, 0, 0.35); }

.btn-primary {
  color: black;
  background-color: white;
  border-color: white; }

.btn-primary.disabled,
.btn-primary[disabled] {
  color: black;
  background-color: white;
  border-color: white; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: black;
  background-color: white;
  border-color: white; }

.btn-active, .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/*
    ***
    *** Dropdownbox Component
    ***
*/
.navmenu-brand:focus {
  background-color: transparent; }

.right-nav {
  font-weight: 700;
  background-color: #f46524;
  border-left: solid 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  z-index: 1;
  transition: all 0.2s;
  text-align: left; }

.right-nav a {
  color: #3e3e3e; }

.right-nav a:hover, .right-nav a:focus {
  color: #747474;
  background-color: rgba(255, 255, 255, 0.65); }

.right-nav ul {
  margin-bottom: 20px; }

.right-nav-show {
  transform: translateX(-150px); }

.right-nav-hide {
  transform: translateX(150px); }

.body-content-push {
  transform: translateX(-150px); }

.body-content-unpush {
  transform: translateX(0px); }

.body-container {
  display: flex;
  flex-flow: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.2s; }

.router-outlet {
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.2s;
  flex-grow: 10; }

@media (min-width: 0) {
  .navbar-toggle {
    display: block;
    /* force showing the toggle */ }
  .navbar {
    display: block; } }

@media (min-width: 768px) {
  body {
    padding: 0; }
  .navbar {
    display: none; } }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.path {
  stroke-dasharray: 590;
  stroke-dashoffset: 590;
  animation: 0.5s ease-in-out 0s infinite alternate dash; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

