<div class="form-group form-group-lg" *ngIf="lessons">
    <select name="Lesson" [(ngModel)]="lesson" class="form-control" required>
        <option *ngFor="let lesson of lessons" [ngValue]="lesson" title="Required">
            {{lesson.Classroom}}
        </option>
    </select>
</div>
<div *ngIf="lesson">
    <label>{{lesson.Classroom}}</label><br />
    <label>{{lesson.StartTime}}</label><br />
    <label>{{lesson.EndTime}}</label><br />
</div>

<button class="btn btn-lg btn-danger" (click)="Remove()">Remove</button>