<form class="form-horizontal" #aeForm="ngForm">
    <div class="form-group" *ngIf="assignments">
        <label class="col-md-2 control-label" for="Assignment">Assignment</label>
        <div class="col-md-10">
            <select name="Assignment" [ngModel]="assignment" class="form-control" required>
                <option *ngFor="let assignment of assignments" [value]="assignment" title="Required">
                    {{assignment.Name}}
                </option>
            </select>
        </div>
    </div>

    <div class="form-group form-group-lg">
        <label class="col-md-2 control-label" for="Name">Name</label>
        <div class="col-md-10">
            <input class="form-control" id="Name" name="Name" type="text" placeholder="Name" [(ngModel)]="assignment.Name" required>
        </div>
    </div>
    <hr>
    <div class="form-group form-group-lg">
        <label class="col-md-2 control-label" for="Description">Description</label>
        <div class="col-md-10">
            <input class="form-control" id="Description" name="Description" placeholder="Description" type="text" [(ngModel)]="assignment.Description" required>
        </div>
    </div>
    <hr>
    <div class="form-group form-group-lg">
        <label class="col-md-2 control-label" for="Segment">Segment</label>
        <div class="col-md-10">
            <select name="Segment" [ngModel]="assignment.SegmentId" class="form-control" required>
                <option *ngFor="let segment of segments" [value]="segment.Id" title="Required">
                    {{segment.Name}}
                </option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!aeForm.form.valid" (click)="save()">Save</button>
</form>