<div class="form-group form-group-lg" *ngIf="assignments">
    <dropdownbox [title]="'Assignments'" [content]="assignments" [content-type]="'assignment'">
        <button class="btn btn-default btn-lg" [routerLink]="['/dashboard', 'createassignment']" ddb-create>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </dropdownbox>
</div>

<div *ngIf="assignment">
    <label>{{assignment.Name}}</label><br />
    <label>{{assignment.Description}}</label><br />
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Browse&hellip; <input type="file" #fileinput style="display: none;" (change)="onChange($event)" accept=".doc,.txt" [(ngModel)]="file" ng2FileSelect>
            </span>
        </label>
        <input type="text" class="form-control" readonly #fileresult>
    </div>
    <hr />
    <div class="progress" style="">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    <hr />
    <button type="button" class="btn btn-success btn-s"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload
    </button>
    <button type="button" class="btn btn-warning btn-s"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
    </button>
    <button type="button" class="btn btn-danger btn-s"
            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove from form
    </button>
    <!--<textarea [(ngModel)]="fileresultstring"></textarea>-->
</div>
