<form class="form-horizontal" #editgroupForm="ngForm">
    <div class="form-group form-group-lg" *ngIf="segments">
        <select name="Segment" [ngModel]="segment" class="form-control" required>
            <option *ngFor="let segment of segments" [value]="segment" title="Required">
                {{segment.Name}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Name">Name</label>
        <div class="col-md-10">
            <input class="form-control" id="Name" name="Name" type="text" value="" [(ngModel)]="segment.Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="Description">Description</label>
        <div class="col-md-10">
            <input class="form-control" id="Description" name="Description" type="text" [(ngModel)]="segment.Description" required>
        </div>
    </div>
    <div class="form-group form-group-lg">
        <select name="Course" [ngModel]="courses" class="form-control" required>
            <option *ngFor="let course of courses" [value]="course" title="Required">
                {{course.Name}}
            </option>
        </select>
    </div>
    <hr>
    <button class="btn btn-primary" [disabled]="!editgroupForm.form.valid" (click)="Save()">Save</button>
</form>
