@import '../../../../wwwroot/_mixins.scss';
@import '../../../../wwwroot/_variables.scss';

/*Component specific selectors:
    :host
    selects the host element containing the component's template

    /deep/
    plunges the style down the child component tree, that is, any component this component contains will also be affected
*/

:host /deep/ .dropdownbox {
    position: relative;
    background-color: $color-panel;
    margin-top: 1em;
    width: 100%;
    overflow-y: hidden;
    padding: 0;
    display: flex;
    flex-flow: column;
    /*border-radius: 7px;*/
    @include box-shadow($shadow-panel);
    /*text-shadow: 1px 1px 3px #b3b3b3;*/
}

:host /deep/ div{
    width:100%;
    display:inline;
}

:host /deep/ h3{
    display: inline-block;
    margin-top:10px;
}

:host /deep/ .top-container {
    display: flex;
    flex-flow: row;
}

:host /deep/ .titlecontainer {
    display: inline-block;
    flex-grow: 8;
    justify-content: center;
    padding-left: 0.5em;
}

:host /deep/ .title {
    
}

:host /deep/ .top-buttons-container {
    display: flex;
    flex-flow: row-reverse;
    flex-grow: 4;
    width:auto;
}

:host /deep/ .itemscontainer {
    background-color: $color-panel;
    display: flex;
    flex-flow: row;
}

:host /deep/ .item {
    display: flex;
    position:relative;
    flex-flow: row;
    background-color:$color-panel;
    /*background-color: rgba(228, 106, 26, 0.21);
    */
        margin-top:1px;
    border-radius: 3px;
    width:100%;
}

:host /deep/ .item-link-container {
    display: inline-block;
    flex-grow: 8;
    justify-content: center;
    padding-left: 0.5em;
}

:host /deep/ .item-link {
    display: inline-block;
}

:host /deep/ .item-buttons {
    display: flex;
    flex-flow: row;
    justify-content:flex-end;
    width:auto;
}
