@import "../../../../wwwroot/mixins";
@import "../../../../wwwroot/variables";

/*Component specific selectors:
    :host
    selects the host element containing the component's template

    /deep/
    plunges the style down the child component tree, that is, any component this component contains will also be affected
*/

:host /deep/ {

    .dropdownbox {
        position: relative;
        background-color: $color-panel;
        margin-top: 1em;
        width: 100%;
        overflow-y: hidden;
        padding: 0;
        display: flex;
        flex-flow: column;
        border-radius: 7px;
        @include box-shadow($shadow-panel);
        text-shadow: 1px 1px 3px #b3b3b3;
    }

    div {
        width: 100%;
        display: inline;
    }

    h3 {
        display: inline-block;
        margin-top: 10px;
    }

    .top-container {
        display: flex;
        flex-flow: row;
    }

    .titlecontainer {
        display: inline-block;
        flex-grow: 8;
        justify-content: center;
        padding-left: 0.5em;
    }

    .title {
    }

    .top-buttons-container {
        display: flex;
        flex-flow: row-reverse;
        flex-grow: 4;
        width: auto;
    }

    .itemscontainer {
        background-color: $color-panel;
        display: flex;
        flex-flow: row;
    }

    .item {
        display: flex;
        flex-flow: row;
        background-color: rgba(228, 106, 26, 0.21);
        margin-top: 1px;
        border-radius: 3px;
        width: 100%;
    }

    .item-link-container {
        display: inline-block;
        flex-grow: 8;
        justify-content: center;
        padding-left: 0.5em;
    }

    .item-link {
        display: inline-block;
    }

    .item-buttons {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        width: auto;
    }
}
